head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  //if lt IE 9
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
  title= title
  link(rel='stylesheet', href='/css/amelia.css')
  link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
  link(rel='stylesheet', href='/css/style.css')
  style
    h1 {
      display: inline;
      margin-right: 155px;
    }
    h2 {
      display: inline;
      margin-left: 60px;
      margin-right: 25px;
    }
    .messages {
      margin: 50px 0 50px 60px;
    }
    .addMsg {
      margin: 50px 0 50px 60px;
    }
    .goSchd {
      margin-left: 10px;
    }

  script(src='/js/jquery-1.9.1.min.js')
  script(src='/js/bootstrap.min.js')
